.profile__info {
    display: flex;
    margin-top: 22px;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right: 244px;
    max-width: 336px;
    flex-shrink: 0;
}

@media screen and (max-width: 1110px) {
    .profile__info {
        justify-content: center;
        row-gap: 14px;
        column-gap: 10px;
        min-width: 282px;
        align-self: center;
        margin: 0;
        margin-bottom: 36px;
        margin-top: 26px;
    }
}